:root{
    --bg: #0F172A;
    --header: #111827;
    --card: #1F2937;
    --owned: #1E3A5F;
    --owned-border: #3B82F6;
    --missing: #374151;
    --missing-border: #64748B;
    --missing-border2: #60A5FA;
    --add: #22C55E;
    --duplicate: #F59E0B;
    --remove: #EF4444;
    --text: #F9FAFB;
}
nav{
    width: 1500px;
    margin-top: 10px;
    height: 70px;
    background-color: var(--card);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo-navbar{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.name{
    font-size: 30px;
    font-weight: bold;
    position: start;
    margin-left: 12px;
}
.nav-links{
    margin-left: 240px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}
#links{
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    color:var(--duplicate);
}
